/*(C) CharveCompany*/
h1 {
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
}
h2 {
font-family: 'Anek Latin', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
}
h3 {
font-family: 'Anek Latin', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
}
h4 {
font-family: 'Anek Latin', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
}
h5 {
  font-family: 'Anek Latin', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
}
h6 {
  font-family: 'Anek Latin', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
}
